[data-theme='blueTheme'] {
  --primary-light: 232, 234, 246;
  --primary-main: 63, 81, 181;
  --primary-dark: 40, 53, 147;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 179, 229, 252;
  --secondary-main: 3, 169, 244;
  --secondary-dark: 2, 119, 189;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
