[data-theme='cyanTheme'] {
  --primary-light: 224, 247, 250;
  --primary-main: 0, 151, 167;
  --primary-dark: 0, 131, 143;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 241, 248, 233;
  --secondary-main: 139, 195, 74;
  --secondary-dark: 51, 105, 30;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
