[data-theme='greenTheme'] {
  --primary-light: 241, 248, 233;
  --primary-main: 104, 159, 56;
  --primary-dark: 51, 105, 30;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 255, 236, 179;
  --secondary-main: 255, 143, 0;
  --secondary-dark: 230, 81, 0;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
