[data-theme='greenNatureTheme'] {
  --primary-light: 232, 245, 233;
  --primary-main: 67, 160, 71;
  --primary-dark: 46, 125, 50;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 224, 242, 241;
  --secondary-main: 0, 150, 136;
  --secondary-dark: 0, 121, 107;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
