[data-theme='greyTheme'] {
  --primary-light: 236, 239, 241;
  --primary-main: 96, 125, 139;
  --primary-dark: 69, 90, 100;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 245, 245, 245;
  --secondary-main: 117, 117, 117;
  --secondary-dark: 66, 66, 66;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
