[data-theme='magentaTheme'] {
  --primary-light: 252, 228, 236;
  --primary-main: 236, 64, 122;
  --primary-dark: 216, 27, 96;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 224, 247, 250;
  --secondary-main: 0, 188, 212;
  --secondary-dark: 0, 151, 167;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
