[data-theme='orangeTheme'] {
  --primary-light: 255, 224, 178;
  --primary-main: 239, 108, 0;
  --primary-dark: 230, 81, 0;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 243, 229, 245;
  --secondary-main: 156, 39, 176;
  --secondary-dark: 123, 31, 162;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
