[data-theme='orsDarkTheme'] {
  --primary-light: 74, 103, 187;
  --primary-main: 0, 61, 138;
  --primary-dark: 0, 24, 92;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 138, 254, 255;
  --secondary-main: 77, 203, 255;
  --secondary-dark: 0, 154, 204;
  --secondary-contrastText: 17, 23, 26;
  --background: 21, 21, 33;
  --background-contrastText: 255, 255, 255;
  --card-background: 30, 30, 45;
  --card-background-contrastText: 255, 255, 255;
  --card-secondary-contrastText: 0, 0, 0;
  --input-background: 86, 86, 116;
  --input-background-contrastText: 255, 255, 255;
  --border: 37, 37, 56;
  --icon: 86, 86, 116;
}
