[data-theme='orsTheme'] {
  --primary-light: 55, 86, 145;
  --primary-main: 12, 35, 64;
  --primary-dark: 0, 0, 36;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 91, 188, 249;
  --secondary-main: 0, 140, 198;
  --secondary-dark: 0, 95, 149;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
