[data-theme='purpleTheme'] {
  --primary-light: 237, 231, 246;
  --primary-main: 171, 71, 188;
  --primary-dark: 142, 36, 170;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 241, 248, 233;
  --secondary-main: 124, 179, 66;
  --secondary-dark: 85, 139, 47;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
