[data-theme='purpleRedTheme'] {
  --primary-light: 237, 231, 246;
  --primary-main: 103, 58, 183;
  --primary-dark: 81, 45, 168;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 252, 228, 236;
  --secondary-main: 236, 64, 122;
  --secondary-dark: 194, 24, 91;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
