[data-theme='skyBlueTheme'] {
  --primary-light: 227, 242, 253;
  --primary-main: 33, 150, 243;
  --primary-dark: 21, 101, 192;
  --primary-contrastText: 255, 255, 255;
  --secondary-light: 167, 255, 235;
  --secondary-main: 0, 191, 165;
  --secondary-dark: 0, 121, 107;
  --secondary-contrastText: 255, 255, 255;
  --background: 249, 249, 252;
  --background-contrastText: 17, 23, 26;
  --card-background: 255, 255, 255;
  --card-background-contrastText: 17, 23, 26;
  --card-secondary-contrastText: 119, 143, 155;
  --input-background: 216, 222, 227;
  --border: 216, 222, 227;
  --icon: 206, 215, 219;
}
